<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__left">
      <div class="footer__logo">
        ALIAS GAME
      </div>
      <p class="footer__copyright">
        © {{ currentYear }} Alias Game. All rights reserved.
      </p>
    </div>

    <div class="footer__links">
      @if (isAuthenticated) {
        <a routerLink="/lobby" class="link link-secondary">Lobby</a>
      } @else {
      <a [routerLink]="AUTH_ROUTES_FULL.LOGIN" class="link link-secondary">Login</a>
      <a [routerLink]="AUTH_ROUTES_FULL.REGISTER" class="link link-secondary">Register</a>
      }
    </div>
  </div>
</footer>
