<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__left">
      <div class="footer__logo">
        ALIAS GAME
      </div>
      <p class="footer__copyright">
        © {{ currentYear }} Alias Game. All rights reserved.
      </p>
    </div>

    <div class="footer__links">
      <a routerLink="/lobby" class="link link-secondary">Lobby</a>
      <a routerLink="/auth/login" class="link link-secondary">Login</a>
      <a routerLink="/auth/register" class="link link-secondary">Register</a>
    </div>
  </div>
</footer>
