<h1>Register</h1>

<form (submit)="submit($event)">
  <app-form-field
    label="Email"
    forId="email"
    [formField]="registerForm.email"
  >
    <input
      id="email"
      type="email"
      [formField]="registerForm.email"
      placeholder="you@example.com"
    />
  </app-form-field>

  <app-form-field
    label="Username"
    forId="nick"
    [formField]="registerForm.nick"
  >
    <input
      id="nick"
      type="text"
      [formField]="registerForm.nick"
      placeholder="your username"
    />
  </app-form-field>

  <app-form-field
    label="Password"
    forId="password"
    [formField]="registerForm.password"
  >
    <input
      id="password"
      type="password"
      [formField]="registerForm.password"
    />
  </app-form-field>

  <button
    type="submit"
    [disabled]="registerForm().invalid()"
    class="btn btn-primary"
  >
    Register
  </button>

  <p class="auth-switch">
    Already have an account?
    <a [routerLink]="[AUTH_ROUTES_FULL.LOGIN]" class="link">Login here</a>.
  </p>

</form>
