<div class="room">
  <!-- Header -->
  <header class="room-header">
    <div class="room-info">
      <h2 class="room-title"
          *skeleton="
              loading();
              width: '40%';
              height: 'var(--font-lg)';
              variant: 'pill';
              animate: 'pulse';
              extraClass: 'mb-xs'
      ">{{ room?.name }}</h2>
      <span class="room-id">ID: <span
        *skeleton="
              loading();
              width: '40%';
              height: 'var(--font-xs)';
              variant: 'pill';
              animate: 'pulse';
      ">{{ room?.id }}</span></span>
    </div>

    <div class="room-actions">
      <button class="btn btn-secondary">Invite</button>
      <button class="btn btn-danger">Leave</button>
    </div>
  </header>

  <!-- Main layout -->
  <div class="room-body">

    <!-- LEFT: Teams / Players -->
    <aside class="room-sidebar-left">
      <h3 class="section-title">Teams</h3>

      <div class="teams">
        <!--          @if (teams()) {-->
        <!--            @for (team of teams(); track team.id) {-->
        <!--              <div class="team">-->
        <!--                <div class="team-header">-->
        <!--                  <span>{{ team.name }}</span>-->
        <!--                  <button class="btn btn-outline-primary btn-sm">Join</button>-->
        <!--                </div>-->

        <!--                <div class="team-players">-->
        <!--                  @for (p of team.players; track p.id) {-->
        <!--                    <div class="player">-->
        <!--                      {{ p.nick }}-->
        <!--                    </div>-->
        <!--                  }-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            }-->
        <!--          }-->
      </div>

      <button class="btn btn-primary full-width">Create Team</button>
    </aside>

    <main class="room-main">
      <!-- For now: Chat placeholder -->
      @if (!loading()) {
        <app-chat
          [messages]="messages()"
          [baseConversationType]="ConversationType.ROOM"
          [currentRoom]="room!"
          (sendMessage)="handleSendMessage($event)"
        ></app-chat>
      }
    </main>

    <!-- RIGHT: Controls -->
    <aside class="room-sidebar-right">
      <h3 class="section-title">Controls</h3>

      <div class="controls">
        <button class="btn btn-primary full-width">Start Game</button>
        <button class="btn btn-warning full-width">Shuffle Teams</button>
      </div>

      <div class="room-meta">
        <p><strong>Players:</strong> 2</p>
        <p><strong>Teams:</strong> 1</p>
      </div>
    </aside>

  </div>
</div>


