:host{
  display: flex;
  flex: 1;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card{
  padding: var(--space-xl) var(--space-lg);
  border: 1px solid var(--border-default);
  border-radius: var(--radius-lg);
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
}


