<h1>Login</h1>

<form (submit)="submit($event)">
  <app-form-field
    label="Email"
    forId="email"
    [field]="loginForm.email"
  >
    <input
      id="email"
      type="email"
      [field]="loginForm.email"
      placeholder="you@example.com"
    />
  </app-form-field>

  <app-form-field
    label="Password"
    forId="password"
    [field]="loginForm.password"
  >
    <input
      id="password"
      type="password"
      [field]="loginForm.password"
    />
  </app-form-field>

  <button type="submit" [disabled]="loginForm().invalid()" class="btn btn-primary">
    Register
  </button>

  <p class="auth-switch">
    Don't have an account yet?
    <a [routerLink]="['/','auth','register']" class="auth-switch__link">Register here</a>.
  </p>


</form>
